<h1><!--Actor@First_Name--> <span class="hide"><span class="Actor">(<a href="Actor@edit@First_Name">Edit First</a>)</span></span> <!--Actor@Middle_Name--> <span class="hide"><span class="Actor">(<a href="Actor@edit@Middle_Name">Edit Middle</a>)</span></span> <!--Actor@Last_Name--> <span class="hide"><span class="Actor">(<a href="Actor@edit@Last_Name">Edit Last</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Actor@Has_Image--> <span class="hide"><span class="Actor">(<a href="Actor@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Biography</h2>
<b>Born In/Lives In: </b><br /><!--Actor@Country--><br /> <span class="hide"><span class="Actor">(<a href="Actor@edit@Country">Edit Country</a>)</span></span><br/>
<!--Actor@Has_Biography--><br /><span class="hide"><span class="Actor">(<a href="Actor@edit@Has_Biography">Edit Biography</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Friends and Family</h2>
<!--Actor@Has_Friend-->
<span class="hide"><span class="Actor">(<a href="Actor@edit@Has_Friend">Edit Friends</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Acts In</h2>
<!--Actor@Acts-->
<span class="hide"><span class="Actor">(<a href="Actor@edit@Acts">Edit Acts In</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Plays</h2>
<!--Actor@Plays-->
<span class="hide"><span class="Actor">(<a href="Actor@edit@Plays">Edit Plays</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Creator</h2>
<!--Actor@Is_Creator-->
<span class="hide"><span class="Actor">(<a href="Actor@edit@Is_Creator">Edit Creator</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Links</h2>
<!--Actor@Related_To-->
<span class="hide"><span class="Actor">(<a href="Actor@edit@Related_To">Edit Links</a>)</span></span>
</div><br />
