<h1><!--Director@First_Name--> <span class="hide"><span class="Director">(<a href="Director@edit@First_Name">Edit First</a>)</span></span> <!--Director@Middle_Name--> <span class="hide"><span class="Director">(<a href="Director@edit@Middle_Name">Edit Middle</a>)</span></span> <!--Director@Last_Name--> <span class="hide"><span class="Director">(<a href="Director@edit@Last_Name">Edit Last</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Director@Has_Image--> <span class="hide"><span class="Director">(<a href="Director@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Biography</h2>
<b>Born In/Lives In: </b><br /><!--Director@Country--><br /> <span class="hide"><span class="Director">(<a href="Director@edit@Country">Edit Country</a>)</span></span><br/>
<!--Director@Has_Biography--><br /><span class="hide"><span class="Director">(<a href="Director@edit@Has_Biography">Edit Biography</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Friends and Family</h2>
<!--Director@Has_Friend-->
<span class="hide"><span class="Director">(<a href="Director@edit@Has_Friend">Edit Friends</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Directs</h2>
<!--Director@Directs-->
<span class="hide"><span class="Director">(<a href="Director@edit@Directs">Edit Directs</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Creator</h2>
<!--Director@Is_Creator-->
<span class="hide"><span class="Director">(<a href="Director@edit@Is_Creator">Edit Creator</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Links</h2>
<!--Director@Related_To-->
<span class="hide"><span class="Director">(<a href="Director@edit@Related_To">Edit Links</a>)</span></span>
</div><br />