<h1><!--Person@First_Name--> <span class="hide"><span class="Person">(<a href="Person@edit@First_Name">Edit First</a>)</span></span> <!--Person@Middle_Name--> <span class="hide"><span class="Person">(<a href="Person@edit@Middle_Name">Edit Middle</a>)</span></span> <!--Person@Last_Name--> <span class="hide"><span class="Person">(<a href="Person@edit@Last_Name">Edit Last</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Person@Has_Image--> <span class="hide"><span class="Person">(<a href="Person@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Biography</h2>
<b>Born In/Lives In: </b><br /><!--Person@Country--><br /> <span class="hide"><span class="Person">(<a href="Person@edit@Country">Edit Country</a>)</span></span><br/>
<!--Person@Has_Biography--><br /><span class="hide"><span class="Person">(<a href="Person@edit@Has_Biography">Edit Biography</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Friends and Family</h2>
<!--Person@Has_Friend-->
<span class="hide"><span class="Person">(<a href="Person@edit@Has_Friend">Edit Friends</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Links</h2>
<!--Person@Related_To-->
<span class="hide"><span class="Person">(<a href="Person@edit@Related_To">Edit Links</a>)</span></span>
</div><br />
