<h1><!--Series@Title--> <span class="hide"><span class="Series">(<a href="Series@edit@Title">Edit Title</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Series@Has_Image--> <span class="hide"><span class="Series">(<a href="Series@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<b>Release Date:</b> <!--Series@Publication_Release_Date--><br />
<span class="Series">(<a href="Series@edit@Publication_Release_Date">Edit Release</a>)</span></span><br />
<b>Genre: </b><!--Series@Film_Television_Novel_Genre--><br />
<span class="hide"><span class="Series">(<a href="Series@edit@Film_Television_Novel_Genre">Edit Format</a>)</span></span><br />
</div>