<h1><!--Sex_Entertainment@First_Name--> <span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@First_Name">Edit First</a>)</span></span> <!--Sex_Entertainment@Middle_Name--> <span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Middle_Name">Edit Middle</a>)</span></span> <!--Sex_Entertainment@Last_Name--> <span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Last_Name">Edit Last</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Sex_Entertainment@Has_Image--> <span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Biography</h2>
<b>Born In/Lives In: </b><br /><!--Sex_Entertainment@Country--><br /> <span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Country">Edit Country</a>)</span></span><br/>
<!--Sex_Entertainment@Has_Biography--><br /><span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Has_Biography">Edit Biography</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Friends and Family</h2>
<!--Sex_Entertainment@Has_Friend-->
<span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Has_Friend">Edit Friends</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>In Peep Show</h2>
<!--Sex_Entertainment@In_Peep_Show-->
<span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@In_Peep_Show">Edit Peep Show</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Links</h2>
<!--Sex_Entertainment@Related_To-->
<span class="hide"><span class="Sex_Entertainment">(<a href="Sex_Entertainment@edit@Related_To">Edit Links</a>)</span></span>
</div><br />
