<h1><!--Television_Film_Game_Character@First_Name--> <span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@First_Name">Edit First</a>)</span></span> <!--Television_Film_Game_Character@Middle_Name--> <span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Middle_Name">Edit Middle</a>)</span></span> <!--Television_Film_Game_Character@Last_Name--> <span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Last_Name">Edit Last</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Television_Film_Game_Character@Has_Image--> <span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Biography</h2>
<b>Born In/Lives In: </b><br /><!--Television_Film_Game_Character@Country--><br /> <span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Country">Edit Country</a>)</span></span><br/>
<!--Television_Film_Game_Character@Has_Biography--><br /><span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Has_Biography">Edit Biography</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Friends and Family</h2>
<!--Television_Film_Game_Character@Has_Friend-->
<span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Has_Friend">Edit Friends</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Character From</h2>
<!--Television_Film_Game_Character@In_Television_Film_Game-->
<span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@In_Television_Film_Game">Edit Character From</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Played By</h2>
<!--Television_Film_Game_Character@Played_By-->
<span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Played_By">Edit Played By</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Links</h2>
<!--Television_Film_Game_Character@Related_To-->
<span class="hide"><span class="Television_Film_Game_Character">(<a href="Television_Film_Game_Character@edit@Related_To">Edit Links</a>)</span></span>
</div><br />
