<table>
	<tr><td><a href="<!--Video@URL-->" ><img width="64" height="64" src="http://i204.photobucket.com/albums/bb91/benjamincoe/films.jpg" /></a><br /><span class="hide"><span class="Video">(<a href="Video@edit@URL">Edit URL</a>)</span></span></td></tr>
	<tr><td>Format: <!--Video@Video_Format--><br /><span class="hide"><span class="Video">(<a href="Video@edit@Video_Format">Edit Format</a>)</span></span></td></tr>
	<tr><td><!--Video@Has_Description--><br /><span class="hide"><span class="Video">(<a href="Video@edit@Has_Description">Edit Description</a>)</span></span></td></tr>
</table>