<h1><!--Writer@First_Name--> <span class="hide"><span class="Writer">(<a href="Writer@edit@First_Name">Edit First</a>)</span></span> <!--Writer@Middle_Name--> <span class="hide"><span class="Writer">(<a href="Writer@edit@Middle_Name">Edit Middle</a>)</span></span> <!--Writer@Last_Name--> <span class="hide"><span class="Writer">(<a href="Writer@edit@Last_Name">Edit Last</a>)</span></span></h1>

<div style="background-color:rgb(250,250,250);">
<!--Writer@Has_Image--> <span class="hide"><span class="Writer">(<a href="Writer@edit@Has_Image">Edit Images</a>)</span></span><br />
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Biography</h2>
<b>Born In/Lives In: </b><br /><!--Writer@Country--><br /> <span class="hide"><span class="Writer">(<a href="Writer@edit@Country">Edit Country</a>)</span></span><br/>
<!--Writer@Has_Biography--><br /><span class="hide"><span class="Writer">(<a href="Writer@edit@Has_Biography">Edit Biography</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Friends and Family</h2>
<!--Writer@Has_Friend-->
<span class="hide"><span class="Writer">(<a href="Writer@edit@Has_Friend">Edit Friends</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Writes</h2>
<!--Writer@Writes-->
<span class="hide"><span class="Writer">(<a href="Writer@edit@Writes">Edit Writes</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Creator</h2>
<!--Writer@Is_Creator-->
<span class="hide"><span class="Writer">(<a href="Writer@edit@Is_Creator">Edit Creator</a>)</span></span>
</div><br />

<div style="background-color:rgb(250,250,250);">
<h2>Links</h2>
<!--Writer@Related_To-->
<span class="hide"><span class="Writer">(<a href="Writer@edit@Related_To">Edit Links</a>)</span></span>
</div><br />